@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:wght@300&display=swap');

.App {
  text-align: center;
}


h1 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 52px;
  color: #F65AE2;
}